<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Title
        </th>
        <th scope="col" class="px-6 py-3">
          Category
        </th>
        <th scope="col" class="px-6 py-3">
          Year
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% books.each do |book| -%>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
            <%= book.title %>
          </th>
          <td class="px-6 py-4">
            <%= book.category %>
          </td>
          <td class="px-6 py-4">
            <%= book.year %>
          </td>
          <td class="px-6 py-4 text-right">
            <%= link_to "Edit", edit_book_path(id: book.id), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
            <%= link_to "Delete", remove_book_path(id: book.id), method: :delete, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
